<header class="h-[68px] z-10 bg-main sticky top-0 flex items-center justify-between">
    <div class="navbar bg-base-100 px-10">
        <div class="flex-1">
            <img class="w-24 hidden md:block" src="assets/netflixlogo.png" alt="netflix-logo">
            <img class="w-12 md:hidden" src="assets/Netflix_Symbol_PMS.png" alt="netflix-logo">
            <div class="hidden md:block items-center content-center px-10">
                <ul class="flex items-center gap-5">
                    @for (item of navList; track $index) {
                    <li class="text-white cursor-pointer text-sm font-light">{{item}}</li>
                    }
                </ul>
            </div>
        </div>
        <div class="flex-none">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full ring-1">
                        <img alt="TProfile" [src]="userImg" (error)="onImageError($event)" />
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li>
                        <a class="justify-between">
                            Profile

                        </a>
                    </li>
                    <li><a>Settings<span class="badge">New</span></a></li>
                    <li class="hover:bg-red-600 text-white rounded-box"><a (click)="signOut()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>