/* movie-carousel.component.css */
.swiper-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    box-sizing: border-box;
    /* Ensure padding/margin doesn't affect width */
    flex-shrink: 0;
    width: auto;
    /* or a specific width if you prefer */
}