<div class="w-full text-white bg-black px-5 pb-16 relative">
    <div>
        <h1 class="text-3xl p-4 font-bold">{{ title }}</h1>
        <div #swiperContainer1 class="swiper-container">
            <div class="swiper-wrapper">
                <ng-container *ngFor="let movie of viewContents">
                    <a class="swiper-slide" [routerLink]="['/preview',movie.id]" routerLinkActive="router-link-active" >
                        <div class="relative transform transition duration-500 hover:scale-110 px-5 rounded-lg">
                            <!-- Image -->
                            <img class="w-full h-auto rounded-lg" [src]="movie.poster_path | image" alt="">

                            <!-- Overlay with text (hidden by default) -->
                            <div
                                class="absolute inset-0 bg-black bg-opacity-0 hover:bg-opacity-50 p-4 flex items-end transition duration-300 opacity-0 hover:opacity-100">
                                <div class="text-left p-3">
                                    <h1 class="text-sm md:text-xl font-bold font-sans">{{ movie.original_title ||
                                        movie.original_name }}</h1>
                                    <h1 class="text-xs mdtext-sm text-green-600 font-extrabold">Rating: {{ movie.vote_average }}</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>