<!-- <h1 mat-dialog-title>Demo Mode Activated!</h1>
<div mat-dialog-content>
    <p>🎬 You clicked "Play" on this demo. Nice try! 😜</p>
    <p>🚫 This is a demo only, so no actual video here—just a smile! 😊</p>
    <p>Thanks for checking it out! Have a great day! 🌟</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
</div> -->

<h1 mat-dialog-title>Demo Mode!</h1>
<div mat-dialog-content>
    <p>🎬 You clicked "Play," but this is just a demo! 😅</p>
    <p>No real video here—just a bit of fun! 😊</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
</div>